<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/student/signUpLogIn.css' />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic" as="style" onload="this.onload=null;this.rel='stylesheet'">
</head>
  <body>
    <header class="topnav">
      <a id="student-link" class="links active" href="/">Student</a>
      <a id="oldFriend-link" class="links" href="/old_friends">Old Friend</a>
      <a id="admin-link" class="links" href="/admin">Admin</a>
      <a id="students-link" class="links" href="/students">Student</a>
    </header>
    <script src="javascripts/clientSideApp.js"></script>
  </body>
</html>
