<%- include('home_layout'); -%>
<div class="container">
<div class="main-section">
  <div class="signUp-logIn-cont">
    <a class="signUp-logIn" href="/" id="sign-in">Sign Up</a>
    <a class="signUp-logIn" href="/login" id="log-in">Log In</a>
  </div>
  <div>
    <div class="form-container">
      <div class="form-header">Create your student account</div>
      <div class="form-description">Your student account information will be use for requesting references. Make sure all data correct</div>
      <form method="post" action="">
         <div class="form-inputs">
           <div class="inputs full-name">
            <input  name="first_name" placeholder='First Name*'>
            <input  name="last_name" placeholder='Last Name*'>
            <input placeholder='Gender*' name="gender">
          </div>
          <div class = "inputs email">
            <input type="email"  name="email" placeholder='Email*'>
          </div>
          <div class="inputs study-course">
            <input placeholder='Study Course* ex: SDET' name="course">
            <input name="batch_number" placeholder='Batch#*'>
          </div>
          <div class="inputs credentials">
            <input type="password" placeholder='Password*' name="password">
            <input type="password" name="confirm-password" placeholder='Confirm Password*'>
          </div>
        </div>
        <button id="sign-up-button" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>
</div>
<script src="javascripts/homepage/clientSideStudent.js"></script>
