<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/student/signUpLogIn.css'/>
    <link rel='stylesheet' href='/stylesheets/student/myProfile.css'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>
<header class="topnav">
    <a href="/">
        <img class="logo" alt="Logo" src="/images/CYBERTEK_Best.png">
    </a>
</header>
<div class="topnav-student">
    <a id="profile-link" class="links active" href="/student_profile">My Profile</a>
    <!-- student requests is temprory since request href will be based on student id -->
    <a id="students-request-link" class="links" href="/student_request">Request Reference</a>
</div>
<script src="../javascripts/clientSideApp.js"></script>
<script src="/jquery/jquery.js"></script>
</body>
</html>
